<h1>Editar movimiento</h1>
<table>
    <tbody>
        <tr>
            <th>idMovimientoBancario</th>
            <td>{{movimientoBancario.idMovimientoBancario}}</td>
        </tr>

        <tr>
            <th>Tipo movimiento</th>
            <td><input data-ng-model="movimientoBancario.tipoMovimientoBancario"></td>
        </tr>
        <tr>
            <th>Importe</th>
            <td><input data-ng-model="movimientoBancario.importe"></td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td><input data-ng-model="movimientoBancario.fecha"></td>
        </tr>
        <tr>
            <th>Saldo total</th>
            <td><input data-ng-model="movimientoBancario.saldoTotal"></td>
        </tr>
        <tr>
            <th>Concepto</th>
            <td><input data-ng-model="movimientoBancario.concepto"></td>
        </tr>
    </tbody>
</table>
<button class="btn" ng-click="edit()">Enviar</button>
