<h1>Añadir entidad</h1>
<table>
    <tbody>
    
        <tr>
            <th>nombre</th>
            <td><input data-ng-model="entidadBancaria.nombre"></td>
        </tr>
        <tr>
            <th>codigo entidad</th>
            <td><input data-ng-model="entidadBancaria.codigoEntidadBancaria"></td>
        </tr>
        <tr>
            <th>tipo entidad</th>
            <td><input data-ng-model="entidadBancaria.tipoEntidadBancaria"></td>
        </tr>
    
</tbody>
</table>
<button class="btn" ng-click="add()">Enviar</button>
