<h1>Editar cuenta</h1>
<table>
    <tbody>
        <tr>
            <th>idEntidadBancaria</th>
            <td>{{entidadBancaria.idEntidadBancaria}}</td>
        </tr>
        <tr>
            <th>Nombre entidad</th>
            <td><input data-ng-model="entidadBancaria.nombre"></td>
        </tr>
        <tr>
            <th>Codigo entidad</th>
            <td><input data-ng-model="entidadBancaria.codigoEntidadBancaria"></td>
        </tr>
        <tr>
            <th>Tipo entidad bancaria</th>
            <td><input data-ng-model="entidadBancaria.tipoEntidadBancaria"></td>
        </tr>
    </tbody>
</table>
<button class="btn" ng-click="edit()">Enviar</button>
