<h1>Editar sucursal</h1>
<table>
    <tbody>
        <tr>
            <th>idSucursalBancaria</th>
            <td>{{sucursalBancaria.idSucursalBancaria}}</td>
        </tr>
        <tr>
            <th>Nombre sucursal</th>
            <td><input data-ng-model="sucursalBancaria.nombreSucursalBancaria"></td>
        </tr>
        <tr>
            <th>Codigo sucursal</th>
            <td><input data-ng-model="sucursalBancaria.codigoSucursalBancaria"></td>
        </tr>
    </tbody>
</table>
<button class="btn" ng-click="edit()">Enviar</button>
